---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<p>Selected current and recent research projects.</p>

{% assign research_items = site.portfolio | sort: "order" %}
{% for post in research_items %}
  <section class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>
    {% if post.period %}<p class="page__meta">{{ post.period }}</p>{% endif %}
    <div itemprop="description">
      {{ post.content }}
    </div>
  </section>
{% endfor %}
